.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 5em;
    color: #fff;
    font-family: "Paytone One";
}

.navitems {
    font-size: 1rem;
    color: #dbe1e8;
    display: flex;
    align-items: center;
    gap: 2em;
    font-family: "outfit";
}

.navitems button {
    padding: .5em 2em;    
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 600;
}

.logo {
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo img {
    width: 50px;
}

