.main {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(314deg, #1E2432 -9.24%, #0F171F 40.16%, #000A0C 88.54%); */
  /* background: #080D17; */
  background: #0f0d0e;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headline {
  color: #fff;
  font-family: 'Paytone One';
  font-size: 3rem;
  margin-top: 5%;
  text-align: center;
  width: 75%;
}

.headline span {
  color: #5E31C3;
}

.btns {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.btns button {
  padding: .5em 2em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}